@model ModelLayer.ViewModels.ResetPasswordVM

@{
    ViewBag.Title = "ResetPassword";
}

<section class="container">
    <h1 class="large text-primary">
        Change password
    </h1>
    <p class="lead"><i class="fas fa-user"></i> Reset Your Password </p>

    @if (ViewBag.IsConfirmed == true)
    {

<form class="form" action="@Url.Action("ResetPassword","Account")" method="post">
    <input type="hidden" name="Email" value="@ViewBag.Email" />
    <input type="hidden" name="Guid" value="@ViewBag.Guid" />
    <div class="form-group">
        @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", Placeholder = "New Password" } })
        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", Placeholder = "Confirm Password" } })
        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">

        <input type="submit" value="Reset Password" class="btn btn-primary" />

    </div>
</form>


    }
    else if (ViewBag.IsConfirmed == false || ViewBag.Message == "invalid")
    {
        if (ViewBag.Message == "success")
        {
            <div>
                Success
            </div>
        }
        else
        {
            <p class="lead">Invalid Request </p>
        }

    }




</section>






